# private stuff related to installed bots
chatbot/
botname/
bot/
node_modules/
servers
autojoin
bot*
sentry
configs/
logs/
backup/
sentry*
*hash

# Development stuff
*.sln
*.njsproj
temp/
test.js
.ntvs_analysis.dat
.env
triggers.stable
triggers.private
lib/chatBot.stable.js
lib/triggers.stable
lib/triggers.private
lib/chatBot.private.js
*.bak
npm-debug.log
changelog.dev
.vs/

# these folders contain working trees in my clone, so I don't have to check them out.
gh-pages
master
miley

# Added for jekyll
_site/*
_theme_packages/*
Thumbs.db
.DS_Store
!.gitkeep
.rbenv-version
.rvmrc
Gemfile.lock
