chatbot/
botname/
bot/
node_modules/
todo.txt
servers
autojoin
bot.*
sentry
sentry.*
test.js
.ntvs_analysis.dat
npm-debug.log
sentryfile.*
*.hash
configs/
logs/
.env
triggers.stable
triggers.private
lib/chatBot.stable.js
lib/triggers.stable
lib/triggers.private
lib/chatBot.private.js
*.bak
backup/
temp/
changelog.dev
gh-pages
master

_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

Gemfile.lock
