<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">{{ site.title }} maintained by <a href="https://github.com/{{ site.author.github }}">{{ site.author.github }}</a></p>
    <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
  </footer>
  <script>
  $(function() {
    return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) {
        return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
  </script>
</div>
